<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI</title>
</head>
<body>
    <center>
        <h1>Welcome to <a style="color: blue;">MUMBAI INDIANS</a></h1>
        <h1>ROHIT SHARMA</h1>
        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_640,q_50/lsci/db/PICTURES/CMS/316500/316584.png" height="300px" width="300px" alt="">
        <p>Rohit has been part of six IPL titles - one with Deccan Chargers in 2009 and five with Mumbai Indians (2013, 2015, 2017, 2019, 2020). <br> Rohit has smashed a total of 240 maximums, the third most sixes in IPL history. His highest score is 109 against Kolkata Knight Riders in IPL 2012.</p>
        <h2>This is page performed by specific url navigation.</h2>
        <a href="{% url 'mi:surya' %}">Goto surya page</a>
    </center>
</body>
</html>