<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI</title>
</head>
<body>
    <center>
        <h1>Welcome to <a style="color: blue;">MUMBAI INDIANS </a></h1>
        <h1>SURYA KUMAR YADAV</h1>
        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_640,q_50/lsci/db/PICTURES/CMS/331100/331163.png" height="300px" width="300px" alt=""><br> 
        <p>Suryakumar Ashok Yadav (born 14 September 1990) is an Indian international cricketer. <br> A right-handed batsman plays for Mumbai Indians in the Indian Premier League and for the Mumbai cricket team in Indian domestic cricket.</p>
        <h2>This is page performed by specific url navigation.</h2>
        <a href="{% url 'mi:rohit' %}">Goto rohit page</a>
    </center>
</body>
</html>